@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?9kwnqr');
    src: url('../fonts/icomoon.eot?9kwnqr#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?9kwnqr') format('truetype'), url('../fonts/icomoon.woff?9kwnqr') format('woff'), url('../fonts/icomoon.svg?9kwnqr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-screws:before {
    content: "\e903";
}

.icon-drill:before {
    content: "\e904";
}

.icon-in-ear:before {
    content: "\e900";
}

.icon-on-ear:before {
    content: "\e901";
}

.icon-over-ear:before {
    content: "\e902";
}

.icon-airplay:before {
    content: "\e905";
    color: #abacaf;
}

.icon-google-cast-logo:before {
    content: "\e906";
    color: #abacaf;
}

.icon-miracast:before {
    content: "\e907";
    color: #abacaf;
}

.wrapper {
    padding-top: 0;
}

#navbar-brand {
    padding-left: 5px;
}

.navbar-brand {
    padding-left: 20px;
    width: 150px;
    .logo {
        max-width: 150px;
    }
    #logo {
        padding: 2px 17px 17px 2px;
    }
    .description {
        color: $primary !important;
        font-size: 1rem;
        display: inline-block;
    }
}

.requirement {
    margin: 15px auto 0px;
    padding: 22px 25px 1px;
    background: #fff;
    border-radius: 4px 10px 0 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 3px 10px 0 rgba(0, 0, 0, 0.04);
    font-size: 17px;
    text-align: left;
    h1 {
        font-size: 18px;
        font-weight: 500;
    }
    h2 {
        font-size: 1rem;
        font-weight: 400;
    }
    ul {
        list-style-type: none;
        padding-left: 10px;
        .disc {
            background-color: #00d084;
            border-radius: 50%;
            display: inline-block;
            margin-right: 10px;
            height: 10px;
            width: 10px;
            float: left;
            margin-top: 12px;
        }
        li {
            padding: 5px 0;
            font-size: 16px;
        }
    }
}

.block-start_over {
    border-top: 1px solid rgba(0, 0, 0, .125);
    background: #ffffff;
    padding: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .08), 0 3px 10px 0 rgba(0, 0, 0, .04);
    border-radius: 0 0 10px 10px;
    margin-bottom: 40px;
}

.start-over {
    padding: 10px 23px;
    a.start-over_link {
        svg {
            width: 18px;
            height: 18px;
        }
        span.start-over_text {
            vertical-align: middle;
            font-size: 17px;
            margin-left: 5px;
            font-weight: 500;
        }
    }
    a.start-over_link:hover {
        text-decoration: none;
    }
}

.reviews-scanned {
    text-align: center;
    margin: 0 auto 40px;
    .count {
        .text {
            display: inline-block;
            vertical-align: middle;
            font-weight: 500;
            font-size: 26px;
            line-height: 26px;
            color: #3cbe95;
            margin-left: 5px;
        }
    }
    .description {
        font-size: 18px;
        color: #333333;
    }
}

.card {
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .04), 0 3px 10px 0 rgba(0, 0, 0, .02);
}

#product-match-number-1 {
    color: #e7954d;
}

.block-needs {
    background-color: #f9fafc;
}

.card-body {
    padding: 10px 0 10px 0;
    .product-match-number {
        display: block;
        font-weight: 500;
        color: #999999;
    }
    .matches_count {
        font-weight: 500;
        margin-bottom: 0;
    }
    .card-text {
        margin: 15px 0 10px 0;
    }
    .card-text_desktop {
        width: 150px;
    }
    a.product-title-link:hover {
        text-decoration: none;
        color: inherit;
    }
    a.product-title-link {
        color: inherit;
    }
}

.card-info {
    background-color: #f9fafc;
}

.rating {
    color: #e7954d;
    margin-right: 3px;
    font-family: fontawesome;
    &.rating-5-0:before {
        content: "\f005 \00A0 \f005 \00A0 \f005 \00A0 \f005 \00A0 \f005";
    }
    &.rating-4-5:before {
        content: "\f005 \00A0 \f005 \00A0 \f005 \00A0 \f005 \00A0 \f123";
    }
    &.rating-4-0:before {
        content: "\f005 \00A0 \f005 \00A0 \f005 \00A0 \f005 \00A0 \f006";
    }
    &.rating-3-5:before {
        content: "\f005 \00A0 \f005 \00A0 \f005 \00A0 \f123 \00A0 \f006";
    }
    &.rating-3-0:before {
        content: "\f005 \00A0 \f005 \00A0 \f005 \00A0 \f006 \00A0 \f006 ";
    }
}

span.rating-number {
    color: #999;
    font-size: 13px;
}

.brand {
    font-size: 1.5rem;
}

.block-btn_mobile {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding-bottom: 10px;
    text-align: center;
    .card-text {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.block-product_img {
    border-right: 1px solid rgba(233, 235, 240, 1);
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    .product-match-number {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #999999;
        font-weight: 500;
    }
    .card-img {
        width: 100%;
    }
}

.matches_list {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    .matches_match,
    .non_matches_match {
        display: flex;
        margin: 5px 0 0;
    }
    .matches_match:before {
        content: '';
        flex: 17px 0;
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 17 12' style='enable-background:new 0 0 17 12;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%230BAE7A;%7D%0A%3C/style%3E%3Cpath class='st0' d='M16.5,0.5C16,0,15.2,0,14.7,0.5l-8,8L2.3,4C1.8,3.6,1,3.6,0.5,4c-0.5,0.5-0.5,1.3,0,1.8l5.3,5.3 c0.5,0.5,1.3,0.5,1.8,0l8.8-8.8C16.9,1.8,16.9,1,16.5,0.5z'/%3E%3C/svg%3E%0A");
        margin-right: 15px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 6px;
    }
    .non_matches_match:before {
        content: '';
        flex: 17px 0;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='23' viewBox='0 0 25 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.6779 22.2513C20.6675 23.241 22.2725 23.241 23.2621 22.2513C24.2522 21.2617 24.2522 19.6567 23.2621 18.667L16.0286 11.4337L22.9178 4.54466C23.8941 3.56825 23.8941 1.98524 22.9178 1.00902C21.9414 0.0324345 20.3586 0.0324345 19.3823 1.00902L12.493 7.89819L5.34092 0.746252C4.35072 -0.243379 2.74641 -0.243379 1.75678 0.746252C0.766713 1.73556 0.766713 3.34057 1.75678 4.33023L8.90887 11.4823L1.70441 18.6867C0.728086 19.6633 0.728086 21.2459 1.70441 22.2223C2.68074 23.1989 4.26359 23.1989 5.23992 22.2223L12.4445 15.0179L19.6779 22.2513Z' fill='%23999999'/%3E%3C/svg%3E%0A");
        margin-right: 15px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 3px;
    }
}

.top-container {
    display: flex;
    flex-direction: column;
    margin: 15px auto 66px;
    padding: 22px 25px 15px;
    background: #fff;
    border-radius: 4px 15px 15px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .08), 0 3px 10px 0 rgba(0, 0, 0, .04);
    font-size: 17px;
    text-align: left;
    h4 {
        font-size: 18px;
    }
    .tags {
        margin-top: 12px;
        margin-bottom: 9px;
    }
    .tags span {
        display: inline-block;
        padding: 5px 14px;
        margin-right: 7px;
        margin-bottom: 7px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 400;
    }
    .tags .tag-1 {
        background-color: #f1e9fd;
        color: #8b45ea;
    }
    .tags .tag-2 {
        background-color: #fcefe5;
        color: #e17b20;
    }
    .tags .tag-3 {
        background-color: #e4f1fd;
        color: #188ee9;
    }
    .tags .tag-4 {
        background-color: #e2f5ef;
        color: #0bae7a;
    }
}

.top-container_fluid {
    max-width: 750px;
    #top-container {
        margin: -100px auto 0;
        padding: 20px;
        box-shadow: 0px 2px 0px 0px rgba(233, 235, 240, 0.004), 0px 6px 20px 0px rgba(0, 0, 0, 0.04);
        border-radius: 3px 9px 9px 9px;
        h4 {
            font-size: 20px;
            font-weight: 500;
        }
        span {
            font-size: 15px;
            font-weight: 400;
        }
        .tags {
            margin-top: 15px;
            margin-bottom: 0;
            text-transform: uppercase;
            span {
                font-size: 12px;
            }
            .tag-5 {
                background-color: transparent;
                color: #999999;
            }
        }
    }
}

.questionnaire {
    h3 {
        margin-top: 60px;
        margin-bottom: 20px;
        font-size: 1.4rem;
    }
    .custom-control-input:focus~.custom-control-label::before {
        box-shadow: none;
    }
    .form-group {
        margin-left: 20px;
    }
    .custom-control {
        margin: 30px 0;
    }
    .custom-checkbox .custom-control-label::before {
        border-radius: .1rem;
    }
    .custom-control-label::before {
        position: absolute;
        top: initial;
        left: -24px;
        display: block;
        width: 24px;
        height: 24px;
        pointer-events: none;
        content: "";
        background-color: #fff;
        border: 2px solid #b3b3b3;
    }
    .custom-control-label::after {
        position: absolute;
        top: initial;
        left: -24px;
        display: block;
        width: 24px;
        height: 24px;
        content: "";
        background: no-repeat 50%/50% 50%;
    }
    label {
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
        .icon {
            font-size: 1.5rem;
            vertical-align: bottom;
            display: inline-block;
            color: #acadaf;
            margin-left: 16px;
            text-align: center;
        }
        span {
            display: block;
            font-size: 1rem;
        }
        .label-wrap {
            margin-left: 16px;
            font-size: 20px;
            .text-head {
                font-size: 20px;
                color: #333333;
            }
            .text-desc {
                color: #999999;
            }
        }
    }
    .btn-quest {
        background: #188ee9;
        color: #fff;
        margin-bottom: 50px;
        padding: 11px 30px;
        font-size: 17px;
        font-weight: 500;
        box-shadow: 0 2px 12px 0 rgba(24, 142, 233, .2);
        border-radius: 5px;
        border: none;
    }
}

@media (max-width: 576px) {
    .requirement {
        border-radius: 10px 10px 0 0;
    }
    .start-over {
        text-align: center;
        padding-left: 25px;
    }
    .btn-quest {
        width: 100%;
    }
}

.hidden-result-item {
    display: none;
}

.top-background {
    max-width: 944px;
    .top-background_img {
        height: 350px;
        background-position: center;
        background-size: 100%;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08), 0px 3px 10px 0px rgba(0, 0, 0, 0.04);
    }
}

@media (max-width: 576px) {
    .top-background {
        top: 13%;
        .top-background_img {
            max-height: 220px;
        }
    }
    #navbar-brand {
        padding-left: 0px;
        #logo {
            padding: 17px 17px 17px 0;
        }
    }
    .top-container_fluid {
        #top-container {
            padding: 15px;
            // margin: 155px 15px 0;
            margin: -70px 15px 0;
        }
    }
}